<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <title>ServicePoints</title>
  </head>

  <body>
    <p>
      The Username or Password You've Entered is Incorrect
    </p>
    <form action="/accounts/accountNotFound/" method="post" enctype="multipart/form-data">
      <input type="submit" name="login" value="Return to Login"/>
    </form>
    <form action="/accounts/accountNotFound/" method="post" enctype="multipart/form-data">
        <input type="submit" name="createAccount" value="Create Account"/>
    </form>
  </body>
</html>
