<!DOCTYPE html>
<html>
<body>
<title>ServicePoints</title>
<p>
  Don't want to register a new student organization?
<a href="/accounts/create/">Register as organization member</a>
</p>

  <form action="/accounts/createOrg/" method="post" enctype="multipart/form-data">
    <p>
        New Student Organization Name
      <input type="text" name="orgName"/>
      </p>
    <p>
      Your Name
    <input type="text" name="fullname"/>
    </p>
    <p>
      Username
    <input type="text" name="username"/>
    </p>
    <p>
      Email
    <input type="text" name="email"/>
    </p>
    <p>
      Password
    <input type="password" name="password"/>
    </p>
    <input type="submit" name="signup" value="sign up"/>
  </form>
  <p>
    Have an account?
  <a href="/accounts/login/">Log in</a>
  </p>
</body>
</html>
