<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <h1 style="text-align:center">Welcome to ServicePoints!</h1>
    <p>{{username}}</p>
    <p>{{org}}</p>
    <p>Hours: {{hours}}</p>
    <a href="/accounts/logout/">logout</a>
    <a href="/accounts/delete/">delete</a>
    <p>
    <a href="/accounts/mask/">
        <img src=/images/mask.png alt="mask">
    </a>
    <a href="/accounts/mask/">
        <img src=/images/blood.png alt="mask">
    </a>
    <a href="/accounts/mask/">
        <img src=/images/food.png alt="mask">
    </a>
    <a href="/accounts/mask/">
        <img src=/images/tutor.png alt="mask">
    </a>
    <a href="/accounts/submitPoints/">
        <img src=/images/submit.png alt="mask">
    </a>

    {% if leader == 1 %}
        <a href="/accounts/mask/">
            <img src=/images/view.png alt="mask">
        </a>
        <a href="/accounts/mask/">
            <img src=/images/requests.png alt="mask">
        </a>
    {% endif %}
    </p>
</head>
</html>
