<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>servicePoints</title>
</head>
<body>
    <p>
        <a href="/accounts/create/">create student org member account</a>
    </p>
    <p>
        <a href="/accounts/createOrg/">create student org leader account</a>
    </p>


</body>
<form action="/accounts/login/" method="post" enctype="multipart/form-data">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="login" />
 </form>
</html>

