<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>How to make a mask:</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

    </style>

    <a href="/">Home</a>
</head>
<body>
    <h1 style="text-align:center">How to Make and Donate Masks</h1>

    <div>
        <div class="column" style="border-right:1px solid;">
            <h2 style="text-align:center">How to Make Masks</h2>
            <p>Text with simple directions and list of what is needed. Also embedded video(s) below with more indepth directions</p>
            <div style="text-align:center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VgHrnS6n4iA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="column">
            <h2 style="text-align:center">Where to donate masks</h2>
            <p>Text and donation links</p>
        </div>
    </div>
  
</body>

</html>
