<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <title>ServicePoints</title>
  </head>

  <body>
    <p>
      The Student Organization You've Entered Does Not Exist
    </p>
    <form action="/accounts/orgNotFound/" method="post" enctype="multipart/form-data">
        <input type="submit" name="registerOrg" value="Register Your Organization"/>
    </form>
    <form action="/accounts/orgNotFound/" method="post" enctype="multipart/form-data">
      <input type="submit" name="login" value="Return To Login"/>
    </form>
  </body>
</html>
