<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Profile</title>

    <style>
        .about {
            padding: 14px 16px;
            background-color: lightgray;
            margin: 10px;
            border-radius: 7px;
        }

        .title {
            padding: 4px 16px;
            margin: -14px -16px 10px -16px;
            background-color: #6a1b9a;
            color: #eeeeee;
            border-radius: 7px;
        }

        .categ {
            background-color: #e0e0e0;
            border-radius: 50%;
        }

        .btn-width {
            width: 100%;
            background-color: #80cbc4;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center" style="margin-bottom:0; ">
        <h1>ServicePoints!</h1>
        <p>Connect with your Org</p>
    </div>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#38006b; font-size: 19px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/blood/">Blood Drives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/food/">Food Drives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/mask/">Mask Making</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/tutorsu/">Tutoring</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/accounts/profile/">View Profile</a>
                        {% if leader == 1 %}
                        <a class="dropdown-item" href="/accounts/manageOrg/">Manage Org</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="display-4" style="color:#6a1b9a"><b>Profile</b></h2>
                <hr style="background-color:#6a1b9a" />
                {% if pending != '' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>
                        Your request to join {{pending}} is pending. Requesting to join another organization while your request is pending will cancel your original request.
                    </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%endif%}

                {% if leader == 0 %}
                <form action="/accounts/profile/" method="post">
                    <b>Change Organization:</b><br />
                    <small>Warning: When joining a new Org, the leader may reset your number of hours to 0.</small><br />
                    <select name="orgName" id="orgName">
                        <option value="" selected disabled hidden>Choose here</option>
                        {% for org in orgs %}
                        {% if org.orgName != 'NONE' %}
                        <option value="{{org.orgName}}">{{org.orgName}}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                    <input type="submit" name="signup" value="Update Org" />
                </form>
                {% if org != 'NONE' %}
                <form action="/accounts/profile/" method="post">
                    <p>
                        <input type="submit" name="noOrg" value="Leave Organization Without Joining Another" />
                    </p>
                </form>
                {% endif %}
                {% endif %}

                {% if msg != '' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                <h2 style="margin-bottom: 20px; margin-top: 20px;" class="title">Pending Service Points:</h2>
                {% for request in requests %}
                <hr style="background-color:purple;">
                <div class="media">
                    <div class="media-left media-middle categ mr-2">
                        {% if request.service == 'making masks' %}
                        <img src=/images/masks.png alt="masks" class="media-object" style="width:80px;">
                        {% elif request.service == 'tutoring' %}
                        <img src=/images/tutor2.png alt="masks" class="media-object" style="width:80px; padding: 10px;">
                        {% elif request.service == 'donating blood' %}
                        <img src=/images/blood2.png alt="masks" class="media-object" style="height:80px; padding: 10px 22.5px;">
                        {% else %}
                        <img src=/images/can2.png class="media-object" style="width:80px; padding: 5px;">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h6> Your submission is pending.</h6>
                        <p>
                            Description: {{request.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <hr style="background-color:purple;">
                {% if not requests %}
                <h6>No pending Service Requests</h6>
                <hr style="background-color:purple;">
                {% endif %}

                <h2 style="margin-bottom: 20px; margin-top:20px;" class="title">Your Past Service:</h2>
                {% for request in pastReq %}
                <hr style="background-color:purple;">
                <div class="media">
                    <div class="media-left media-middle categ mr-2">
                        {% if request.service == 'making masks' %}
                        <img src=/images/masks.png alt="masks" class="media-object" style="width:80px;">
                        {% elif request.service == 'tutoring' %}
                        <img src=/images/tutor2.png alt="masks" class="media-object" style="width:80px; padding: 10px;">
                        {% elif request.service == 'donating blood' %}
                        <img src=/images/blood2.png alt="masks" class="media-object" style="height:80px; padding: 10px 22.5px;">
                        {% else %}
                        <img src=/images/can2.png class="media-object" style="width:80px; padding: 5px;">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        {% if request.description == '' %}
                        <h6> This submission was accepted.</h6>
                        <p>
                            Points: {{request.points}}
                        </p>
                        {% else %}
                        <h6> This submission was denied.</h6>
                        <p>
                            Reason: {{request.description}}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <hr style="background-color:purple;">
                {% if not pastReq %}
                <h6>No past Service Requests</h6>
                <hr style="background-color:purple;">
                {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="about">
                    <div class="title"><h4>Your Info: </h4></div>
                    <p>Full Name: {{fullname}}</p>
                    <p>Username: {{username}}</p>
                    <p>Organization: {{org}}</p>
                    <p>Email: {{email}}</p>
                    <p>Hours: {{hours}}</p>
                    <hr class="d-sm-none">
                </div>
                <div class="about">
                    <h3 class="title">Update User Info:</h3>

                    <form action="/accounts/profile/" method="post">
                        <div class="form-group">
                            <label for="fullname">Change your full name:</label>
                            <input class="form-control" name="fullname" type="text" placeholder="Enter updated name" maxlength="30" required>
                            <input type="submit" class="btn btn-default btn-width" name="fullname" value="Update Full Name" style="margin-top: 10px;" />
                        </div>
                    </form>

                    <form action="/accounts/profile/" method="post">
                        <div class="form-group">
                            <label for="fullname">Change your email:</label>
                            <input class="form-control" type="email" name="email" placeholder="Enter updated email" required maxlength="40" />
                            <input type="submit" class="btn btn-default btn-width" name="email" value="Update Email" style="margin-top: 10px;" />
                        </div>

                    </form>

                    <form action="/accounts/profile/" method="post">
                        <div class="form-group">
                            <label for="fullname">Change your password:</label>
                            <input class="form-control" type="password" name="password" placeholder="Enter updated password" required maxlength="40" />
                            <input type="submit" class="btn btn-default btn-width" name="password" value="Update Password" style="margin-top: 10px;" />
                        </div>

                    </form>

                    {% if leader == 1 %}
                    <form action="/accounts/profile/" name="Notifications" method="post">
                        <label for="Notifications">Update Email Notifications:</label>
                        {%if members == 0%}
                        <p>
                            <input id="members" type="checkbox" name="membersBox" />
                            Requests to Join Your Organization
                        </p>
                        {%endif%}
                        {%if members == 1%}
                        <p>
                            <input id="members" type="checkbox" name="membersBox" checked />
                            Requests to Join Your Organization
                        </p>
                        {%endif%}
                        {%if reqs == 0%}
                        <p>
                            <input id="reqs" type="checkbox" name="reqsBox" />
                            Member Requests for ServicePoints
                        </p>
                        {%endif%}
                        {%if reqs == 1%}
                        <p>
                            <input id="reqs" type="checkbox" name="reqsBox" checked />
                            Member Requests for ServicePoints
                        </p>
                        {%endif%}
                        <input type="submit" class="btn btn-default btn-width" value="Update Notifications" name="Notifications">
                    </form>
                    {%endif%}


                    <hr />
                </div>
                <a class="btn btn-width btn-lg btn-block" href="" data-toggle="modal" data-target="#deleteModal" style="margin-bottom: 10px;">Delete Account</a>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel" style="text-align:center;">Are you sure you want to delete your account?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    {% if leader == 1 %}
                    <small style="text-align:center;">Deleting your account will also delete your organization and all members will be kicked out</small>
                    {% endif %}
                    <button type="button" class="btn" data-dismiss="modal" style="border: solid 2px #80cbc4;">No</button>
                    <a class="btn" href="/accounts/delete/" role="button" style="background-color: #80cbc4;">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0; ">
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>

</html>
