<!DOCTYPE html>
<html>
    <head>
        <a href="/">Home</a>
    </head>
<body>
    <title>ServicePoints</title>
    <p>
        {{org}} members' requests:
    </p>
    {% for request in requests %}
    <p>
        {{request.member}} is requesting ServicePoints for ({{request.service}}): 
    </p>
    <p>
        <img src=/images/{{request.filename}} alt="img">
    </p>
    <p>
        Enter the number of hours you'd like to assign in it's numerical form (1, 2, 3...):
        <form action="/accounts/viewRequests/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="postid" value="{{request.postid}}"/>
            <input type="hidden" name="user" value="{{request.member}}"/>
            <input type="hidden" name="filename" value="{{request.filename}}"/>
            <input type="text" name="numHours" />
            <input type="submit" name="confirm" value="confirm"/>
          </form>
        Please give an explanation as to why you're denying this request:
        <form action="/accounts/viewRequests/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="postid" value="{{request.postid}}"/>
            <input type="hidden" name="filename" value="{{request.filename}}"/>
            <input type="text" name="reason" />
            <input type="submit" name = "deny" value="deny" />
         </form>
      </p>
    {% endfor %}
</body>
</html>
